<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"-->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>


</head>

<body ng-cloak>
    <md-content layout="row" class=" hidden-print" style="margin-bottom: 5px;border-bottom: dotted 2px gray;">
        <md-fab-toolbar flex=80>
            <md-fab-trigger ng-show="loggedIn" class="align-with-text">
                <md-button aria-label="menu" class="md-fab md-primary">
                    <md-icon md-svg-src="icons/ic_menu_24px.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="users" href="#/clientes">
                        <md-icon md-svg-src="icons/ic_group_24px.svg"></md-icon>
                        Clientes

                    </md-button>
                    <md-button aria-label="facturas" href="#/facturas">
                        <md-icon md-svg-src="icons/ic_attach_money_24px.svg"></md-icon>
                        Facturas
                    </md-button>

                </md-fab-actions>
            </md-toolbar>

        </md-fab-toolbar>
        <div flex ng-controller="LoginCtrl">
            <h3 ng-hide="loggedIn" class="pull-right">
             <md-button class="md-fab md-primary" ng-click="login()">
                        <md-icon md-svg-src="icons/ic_lock_24px.svg"></md-icon>

                </md-button>
          </h3>
            <h3 ng-show="loggedIn" class="pull-right">Usuario : {{user.google.displayName}}
                <md-button class="md-fab md-primary" ng-click="logout()">
                        <md-icon md-svg-src="icons/ic_lock_open_24px.svg"></md-icon>

                    </md-button>
          </h3>
        </div>
    </md-content>


    <div class="contaianer" ng-view></div>



    <!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.x/angular.min.js"></script>
<script src="//cdn.firebase.com/js/client/2.2.x/firebase.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/1.0.x/angularfire.min.js"></script>
-->
    <!-- Angular Material Dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-aria.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/1.0.0/angularfire.js"></script>


    <script src="app.js"></script>
    <script src="config.js"></script>

    <script src="components/auth/auth.js"></script>
    <script src="components/firebase.utils/firebase.utils.js"></script>
    <script src="components/ngcloak/ngcloak-decorator.js"></script>
    <script src="components/reverse/reverse-filter.js"></script>
    <script src="components/security/security.js"></script>

    <script src="home/home.js"></script>
    <script src="account/account.js"></script>
    <script src="chat/chat.js"></script>
    <script src="cliente/cliente.js"></script>
    <script src="login/login.js"></script>
</body>

</html>
